<div id="footer" class="container footerwrap" ng-controller="FooterController as vm">
  <div class="row">
    <div class="col-xs-12 col-md-2">
      <div class="logo">
          <a href="dashboard.html"><img src="/modules/core/client/img/brand/nexmo_logo_alt.gif" width="116" height="65" alt="Nexmo Home Page" title="Nexmo Home Page"></a>
      </div>
    </div>
    <div class="col-xs-12 col-md-10 footer-info">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-6">
          <p>© Copyright Nexmo Inc. 2011 - 2015. All rights reserved.</p>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6">
          <ul>
            <li><a href="https://www.nexmo.com/terms-use">Terms of use</a></li>
            <li><a href="https://www.nexmo.com/privacy-policy">Privacy Policy</a></li>
            <li><a href="https://www.nexmo.com/company/contact-us/">Contact us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>