/* core fonts */
.btn-link {
  text-decoration: underline;
  margin: -2px 0 0 0;
  padding: 0;
  &:hover{
    text-decoration: none;
  }
}

.text-primary {
  color: $black;
}

/* side nav */
.side-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  a {
    color: $black-mild;
  }
  li{
    margin: .4em 0;
  }
  .selected {
    a {
      font-weight: 800;
    }
  }
}

/* side info panel */
.side-info-panel {
  background-color: $silver-lightest;
  padding: 15px 12px;
  margin: 20px 0;
}

.side-info-panel-heading {
  font-size: 1.4em;
  font-family: 'Roboto', sans-serif;
  margin-bottom: .4em;
  font-weight: 800;
  .fa {
    margin-top: .2em;
    color: $black-mild;
  }
}

.side-info-panel-body {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: $black-mild;
  }
}

.side-info-panel-key,
.side-info-panel-value {
  display: inline-block;
}
.side-info-panel-key {
  width: 80px;
}

/* forms */
#main {
  padding-bottom: 4em;
}

fieldset {
  &.verify-support-services {
    margin-top: -8px;
    margin-bottom: -10px;
    .help-block.form-error{
      display: none;
    }
  }
}

.form-control {
  font-size: 16px;
} 

.form-control-feedback {
  margin-right: .6em;
}
.hint {
  margin-top: 1.2em;
  font-size: .9em;
}

.has-error,
.verify-support-services-error,
.signup-nojs-error {
  .form-error {
    background-color: $lavenderblush;
    margin-top: 0px;
    padding: 1em;
  }
}

.verify-support-services-error,
.signup-nojs-error {
  .form-error {
    color: $brown;
  }
}

.form-info {
  background-color: $aliceblue;
  margin-top: 0;
  padding: 1em;
  display: inline-block;
}

.phone-info,
#phoneError {
  margin-top: -15px;
  margin-left: 15px; 
  width: 94%;
}

.has-success {
  .form-info {
    color: $darkslategray;
  }
  .form-info.password-info {
    display: none;
  }
  .form-info {
    &.website-info {
      display: none;
    }
  }
  .form-info {
    &.phone-info{
      display: none;
    }
  }
}

.has-error {
  .form-info {
    display: none;
  }
}
.input-group-addon {
  &:hover{
    cursor: pointer;
    cursor: hand;
  }
}
.textarea-field-alert {
  margin-top: .3em;
  margin-right: .8em !important;
}
.question-help {
  float: right;
  position: absolute;
  margin-left: -52px;
  margin-top: 9px;
  color: $dimgray;
}
.question-help {
  &:hover{
    cursor: help;
  }
}
.popover {
  max-width: 100%;
  background-color: $whitesmoke;
  border-radius: 0;
  &.popover-normal {
    max-width: 300px;
  }
  &.bottom {
    & > .arrow {
      &:after {
        border-bottom-color: $whitesmoke;
      }
    }
  }
}

#form-verify {
  margin-top: 3em;
  input {
    &.form-control[type=text] {
      font-size: 2em;
      text-align: center;
    }
  }
  .help-block {
    &.form-error {
      background-color: $lavenderblush;
      margin-top: 1em;
      padding: 1em;
      color: $brown;
      display: inline-block;
    }
  }
}

#error-message-wrapper {
  position: initial;
  .form-error {
    background-color: $lavenderblush;
    width: 100%;
    margin-top: 1em;
    padding: 1em;
    color: $brown;
    display: inline-block;
  }
}

#error-message-wrapper-static {
  position: initial;
}

.form-group-verify {
  @media (min-width: 768px) {
    padding-right: 0;
  }
  
  &[type=submit] {
    @media (max-width: 991px) {
      margin-top: 1em;
    }
  }
  &.button-container{
    @media (min-width: 992px){
      margin-top: -46px;
    }
  }
}


/* misc */
hr {
  border-top: 1px solid $black;
}
.spacer20 {
  margin-top: 20px;
}
.alert-success {
  background: none;
}
.alert-success,
.text-success {
  color: $green;
}

