/**************** Fonts *****************/
$font-sizes: (
  xs: 12px,
  s: 14px,
  m: 16px,
  l: 22px,
  xl: 32px,
);

;
$font-family-sans-serif:    'Helvetica Neue', 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, 'Lucida Grande', sans-serif;
$font-family-custom:        'Roboto', sans-serif;
$font-size-base:            14px;
$font-size-large:           ceil(($font-size-base * 1.25)); // ~18px
$font-size-small:           ceil(($font-size-base * 0.85));

$font-size-h1:				      floor(($font-size-base * 2.6)); // ~36px
$font-size-h2:				      floor(($font-size-base * 2.15)); // ~30px
$font-size-h3:				      ceil(($font-size-base * 1.7)); // ~24px
$font-size-h4:				      ceil(($font-size-base * 1.25)); // ~18px
$font-size-h5:				      $font-size-base;
$font-size-h6:				      ceil(($font-size-base * 0.85)); // ~12px


/**************** Colors *****************/
$colors: (
  black:                    #000000,
  darkblue:                 #2c3034,
  white:                    #FFFFFF,

  white-2:                  #FFF2F2,

  gray-1:                   #787878, // 87% opacity of black on white
  gray-2:                   #999999, // 54% opacity of black on white
  gray-3:                   #333333, // 26% opacity of black on white
  gray-4:                   #444444, // 12% opacity of black on white
  gray-5:                   #555555,
  gray-6:                   #f5f5f5,
  gray-7:                   #cccccc,
  gray-8:                   #888888,
  gray-9:                   #999999,
  gray-10:                  #aaaaaa,
  gray-11:                  #e4e4e4,
  gray-12:                  #eeeeee,
  gray-15:                  #a9a9a9,
  gray-16:                  #f6f6f6,
  gray-17:                  #ebebeb,
  gray-18:                  #ababab,
  gray-19:                  #adb6ba,
  gray-20:                  #dddddd,


  blue-1:                   #2c3034,
  blue-2:                   #033f61,
  blue-4:                   #5897fb,
  blue-5:                   #3875d7,
  blue-6:                   #EFFAFF,

  green-1:                  #588215;

  brown-1:                  #a94442;

  yellow-1:                 #D6AF00,
  yellow-2:                 #FFE675
);

$white:                     color(white);
$lavenderblush:             color(white-2);
$black:                     color(black);
$black-carbon:              color(gray-4);
$brown:                     color(brown-1);
$green:                     color(green-1);
$color-primary:             #009ac7;
$darkslategray:             color(gray-1);
$dimgray:                   color(gray-18);
$black-mild:                color(gray-5);
$silver-lightest:           color(gray-17);
$silver-lighter:            color(gray-16);
$silver-light:              color(gray-11);
$silver:                    color(gray-12);
$whitesmoke:                color(gray-6);
$darkersilver:              color(gray-10);
$grey-mid:                  color(gray-7);
$grey:                      color(gray-8);
$grey-dark:                 color(gray-9);
$grey-darker:               color(gray-3);
$gainsboro:                 color(gray-20);
$darkblue:                  color(blue-1);
$darkerblue:                color(blue-2);
$cornflowerblue:            color(blue-4);
$royalblue:                 color(blue-5);
$aliceblue:                 color(blue-6);

/**************** Backgrounds *****************/
$body-bg:                   $brand-primary;
$bg-grad-white:             top, $white 50%, $silver 100%;
$end-grad-white:            to bottom, $white 50%, $silver 100%;
$bg-grad-white-rev:         top, $silver 50%, $white 100%;
$end-grad-white-rev:        to bottom, $silver 50%, $white 100%;
$bg-grad-silver:            top, $silver 50%, $grey-mid 100%;
$end-grad-silver:           to bottom, $silver 50%, $grey-mid 100%;


/**************** Typography *****************/
$brand-primary:             darken($color-primary, 6.5%); // ##009ac7
$brand-success:             #5cb85c;
$brand-info:                #5bc0de;
$brand-warning:             #f0ad4e;
$brand-danger:              #d9534f;


//** Global text colors
$text-color:                $gray-dark;
$link-color:                $brand-primary;
$link-hover-color:          darken($link-color, 15%);
$link-hover-decoration:     underline;
$border-box:                border-box;
$border-radius:             4px;
$user-select:               none;
$val-appearance:            none;


/**************** Button Colors *****************/
$btn-default-color:         $gray;
$btn-default-bg:            $white;
$btn-default-border:        color(gray-7);

$btn-primary-color:         $white;
$btn-primary-bg:            $brand-primary;
$btn-primary-border:        darken($btn-primary-bg, 5%);

$btn-success-color:         $white;
$btn-success-bg:            $brand-success;
$btn-success-border:        darken($btn-success-bg, 5%);

$btn-info-color:            $white;
$btn-info-bg:               $brand-info;
$btn-info-border:           darken($btn-info-bg, 5%);

$btn-warning-color:         $white;
$btn-warning-bg:            $brand-warning;
$btn-warning-border:        darken($btn-warning-bg, 5%);

$btn-danger-color:          $white;
$btn-danger-bg:             $brand-danger;
$btn-danger-border:         darken($btn-danger-bg, 5%);

$btn-link-disabled-color:   $gray-light;


/**************** Globals *****************/
$one-px: 					          1px;

$pad-start:                 22px;
$padding-base-vertical:     6px;
$padding-base-horizontal:   12px;

$line-height-base:			     1.428571429;

$border-radius-base:        4px;
$border-radius-large:       6px;
$border-radius-small:       3px;


/**************** Viewports *****************/
/*  MEDIA QUERIES ==========================*/
$screen-xs:                  480px;
$screen-xs-min:              $screen-xs;
$screen-phone:               $screen-xs-min;

$screen-sm:                  768px;
$screen-sm-min:              $screen-sm;
$screen-tablet:              $screen-sm-min;

// Medium screen / desktop
$screen-md:                  992px;
$screen-md-min:              $screen-md;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px;
$screen-lg-min:              $screen-lg;

$screen-ultra:                1400px;


// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);
